html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 30px;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  background-color: #ccc;
  color: #445566;
}

img {
  max-width: 100%;
  height: auto;
}

.movies__item {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #dceafc;
  border-radius: 10px;
  box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
}

.movies__name {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
}

.movies__actor {
  text-align: center;
  color: #303438;
}

.actors__name {
  font-style: italic;
}

.info-text {
  margin-right: 5px;
  font-size: 18px;
  font-weight: normal;
  color: #ff821c;
}

.movies__genres {
  font-weight: bold;
  font-size: 20px;
}

.movies__year {
  text-align: center;
}

.movie__year {
  font-weight: bold;
  font-size: 20px;
}
